<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 style="text-align:center;color:royalblue">Laptop Model List</h1>
    <table class="table table-striped table-dark" style="width:90%;margin:auto">
        <tr>
            <th>Account Holder Name</th>
            <th>Account Number</th>
            <th>Bank Name</th>
            <th>Branch Name</th>
            <th>Account Type</th>
            <th>IFSC Code</th>
            <th>MICR Code</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        {% for bank in BankDetails_list %}
            <tr>
                <td>{{bank.account_holder_name}}</td>
                <td>{{bank.account_no}}</td>
                <td>{{bank.bank_name}}</td>
                <td>{{bank.branch_name}}</td>
                <td>{{bank.account_type}}</td>
                <td>{{bank.ifsc_code}}</td>
                <td>{{bank.micr_code}}</td>
                <td><a href="{% url 'uBankDetailspg' bank.id %}"><button class="btn btn-warning">Update</button></a></td>
                <td><a href="{% url 'dBankDetailspg' bank.id %}"><button class="btn btn-danger">Delete</button></a></td>
            </tr>
        {% endfor %}
    </table>
    <br>
    

</body>
</html>