
{% extends 'DashboardApp\base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    <title>Add Data</title>
{% endblock %}


{% block form %}



<div class="container">

    <form method="post" class="jumbotron", style="50%">
    {% csrf_token %}
        <p class="h3" align="center">Self-Salaried Details Form</p>
    {{form | crispy}}
    <input type="submit" value="Add " class="btn btn-success">
    </form>

</div>

<a class="btn btn-secondary btn-lg" href="{% url 'show_self' %}">Show Self-Salaried Data</a>

{% endblock %}