{% extends "DashboardApp/base.html" %} {% block form %}
<div>
    {% load crispy_forms_tags %}
    <form
            method="post"
            style="background-color: #d3e1e4"
            class="jumbotron text-dark"
    >
        <br/><br/>
        <h3 style="text-align: center" class="mt-2 text-dark">Guarantor Details</h3>
        {% csrf_token %}

        <div class="row mt-3">
            <div class="col-6 "> {{ form.customer|as_crispy_field }}</div>
            <div class="col-6">{{ form.guarantor_name|as_crispy_field }}</div>
            <div class="col-6">{{ form.relation_with_cust|as_crispy_field }}</div>
            <div class="col-6">{{ form.profession|as_crispy_field }}</div>
            <div class="col-6">{{ form.contact_no|as_crispy_field }}</div>
            <div class="col-6">{{ form.aadhar_no|as_crispy_field }}</div>
            <div class="col-6">{{ form.pan_no|as_crispy_field }}</div>

            <div class="col-6">{{ form.house_no|as_crispy_field }}</div>
            <div class="col-6">{{ form.landmark|as_crispy_field }}</div>
            <div class="col-6">{{ form.area|as_crispy_field }}</div>
            <div class="col-6">{{ form.city|as_crispy_field}}</div>
            <div class="col-6">{{ form.pincode|as_crispy_field}}</div>
            <div class="col-6">{{ form.state|as_crispy_field}}</div>
            <div class="col-6">{{ form.country|as_crispy_field}}</div>
        </div>
        <div style="width:100%" class="text-center">
        <input
                type="submit"
                value="Submit and Next"
                class="btn btn-dark mt-3"
        />
        </div>
    </form>
</div>
{% endblock form %}