{% extends "DashboardApp/base.html" %} {% block form %}
<div>
  {% load crispy_forms_tags %}
  <form
    method="post"
    style="background-color: #d3e1e4"
    class="jumbotron text-dark"
  >
    <br /><br />
    <h3 style="text-align: center" class="mt-2 text-dark">PrevLoan Details</h3>
    {% csrf_token %}

    <div class="row mt-3">
      <div class="col-6 "> {{ form.customer|as_crispy_field }}</div>
      <div class="col-6">{{ form.bank_name|as_crispy_field }}</div>
      <div class="col-6">{{ form.branch_name|as_crispy_field }}</div>
      <div class="col-6">{{ form.account_no|as_crispy_field }}</div>
      <div class="col-6">{{ form.ifsc_code|as_crispy_field }}</div>
      <div class="col-6">{{ form.micr_code|as_crispy_field }}</div>
      <div class="col-6">{{ form.loan_amount|as_crispy_field }}</div>
      <div class="col-6">{{ form.loan_type|as_crispy_field }}</div>
      <div class="col-6">{{ form.loan_tenure|as_crispy_field }}</div>
      <div class="col-6">{{ form.amount_paid|as_crispy_field }}</div>
      <div class="col-6">{{ form.amount_remaining|as_crispy_field }}</div>
    </div>
    <!-- {{form|crispy}} -->
    <input
      type="submit"
      value="add PrevLoan Detail"
      class="btn btn-dark btn-block mt-3"
      style="margin-right: auto"
    />
  </form>
</div>
{% endblock form %}
